@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');




body {
font-family: 'Bitter', serif;
background-image: url("unsplash-weather.jpg");
}


.card {
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
background: rgb(93, 107, 135);
}

.btn {
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
background: rgb(93, 107, 135);
background: linear-gradient(180deg, rgba(111, 159, 255, 0.488) 0%, rgb(89, 99, 121) 47%, rgba(195,201,214,1) 100%);
}

.forecast{
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

